<h1>¿Esta seguro?</h1>
<hr>

<p>
  Esta a punto de borrar a {{ data.superhero}}
  <br>
  ¿Desea continua?
</p>

<div>
  <button mat-raised-button (click)="delete()" class="confirmDeleted">Si, borrar!</button>
  <button mat-button (click)="close()" class="buttonClose">Cancelar</button>
</div>