<h1>Listado de Héroes</h1>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAling="center" fxLayoutGap="10px grid">
  <div fxFlex="20" fxFlex.lg="15" fxFlex.sm="30" *ngFor="let hero of heroes">
    <app-hero-card [hero]="hero"></app-hero-card>
  </div>
</div>

