<a routerLink="/heroes/listado">
    <video id="video" playsinline autoplay [muted]="true">
      <source src="assets/404.mp4" type="video/mp4">
      <source src="assets/404.ogv" type="video/ogg">
      <img src="assets/404.gif">
    </video>
</a>

